@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@200;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

.container {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  form {
    background-color: white;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid gray;
    position: fixed;
    width: 500px;
    .input {
      display: flex;
      flex-direction: column;
      label {
        font-size: 14px;
      }
      input {
        padding: 8px 12px;
        width: 100%;
      }
    }
    button {
      margin-top: 0.5rem;
      padding: 8px 12px;
    }
  }
  .card-container {
    padding-top: 17rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column-reverse;
    #loading {
      text-align: center;
      margin-top: 2rem;
    }
    .card {
      border: 1px solid gray;
      margin-top: 1rem;
      padding: 1rem;
      .btn-edit {
        padding: 4px 8px;
        margin-right: 0.3rem;
      }
      .btn-delete {
        padding: 4px 8px;
      }
    }
  }
}
